

fieldset{
    border-radius: 15px;
}
.classroom {
    display: inline-block;
    box-sizing: border-box;
    float: left;

}

.office {
    position: absolute;
    top: 10%;
    right: 1%;
    box-sizing: border-box;
}

.slideshow-container {
    max-width: 1000px;
    position: absolute;
    bottom: 4%;
  }
  .mySlides {
    display: none;
  }


.next {
    position: absolute;
    top: 50%;
    left: 93%;
  }

  .prev{
    position: absolute;
    top: 50%;
    left: 0%;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  .dots{
    position: absolute;
    left: 15%;
    bottom: 3%;

  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  